#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #modal-content {
    position: absolute;
    background-color:white;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    z-index: 1000;
    overflow: scroll;
  }

  #modal-content > * {
    gap: 15px;
    padding: 15px;
  }

  @media screen and (max-width: 750px) {
    #modal-content {
      position: absolute;
      z-index: 1000;
      top: 20vh;
      min-height: 60vh;
    }
  }
