.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    z-index: 1;
    border: 1px solid gray;
    box-shadow: 0px 5px 5px gray;
    background-color: white;
    margin: 0 auto;
    padding: 0;
}

.about {
    display: flex;
    gap: 10px;
}

.about > a {
    color: black;
}
