html {
  margin: 0;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
  line-height: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgb(44, 69, 95);
  color: white;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav {
  width: 90%;
  height: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: white;
  text-decoration: none;
  font-size: large;
}

#menu-toggle {
  display: none;
}

.hamburger {
  width: 48px;
  height: 48px;
  position: relative;
  cursor: pointer;
  border-radius: 2px;
}

.bun {
  width: 30px;
  height: 35px;
  position: absolute;
  top: 9px;
  left: 9px;
  transition: transform 0.18s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.15s;
}

.bun-crust {
  display: block;
  width: 22px;
  height: 1px;
  background-color: white;
  border-radius: 1px;
  position: absolute;
  left: 7px;
  transition: transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.2s;
}

.bun-crust-top {
  top: 14px;
  transform: translateY(-3px);
}

.bun-crust-bottom {
  bottom: 14px;
  transform: translateY(3px);
}

#menu-toggle:checked + .hamburger .bun-top {
  transform: rotate(45deg);
}

#menu-toggle:checked + .hamburger .bun-bottom {
  transform: rotate(-45deg);
}

#menu-toggle:checked + .hamburger .bun-crust-top,
#menu-toggle:checked + .hamburger .bun-crust-bottom {
  transform: none;
  transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

.menu {
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 10;
  width: 25vw;
  height: 90vh;
  max-width: 400px;
  overflow-x: hidden;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.menu-item {
  width: 100%;
  min-height: 25px;
  padding: .8rem;
  border-bottom: 1px solid gray;
  color: black;
  cursor: pointer;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-item:hover {
  background-color: rgb(71, 85, 105);
  color: rgb(137, 207, 203);
  transition: all 0.2s ease-in-out;
}

.main {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
  overflow-y: hidden;
}

.link {
  text-decoration: none;
  color: rgb(71, 85, 105);
  transition: cubic-bezier(1, 0, 0, 1) 0.2s;
}

.link:hover {
  color: rgb(100, 154, 151);
  text-decoration: underline;
}
