html, body, #root {
    overflow-y: scroll;
    height: 100% !important;
    min-height: 100vh !important;
    margin-bottom: 50px;
}

.explore-page {
    width: 100vw;
    height: 100% !important;
    min-height: 100vh !important;
    position: relative;
    z-index: 0;
    top: 5vh;
    display: flex;
    gap: 25px;
}

.explore-left {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 10vw;
}

.explore-right {
    width: 35%;
    height: 810px;
    position: fixed;
    right: 5px;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0px 5px 10px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-card {
    width: 49vw;
    min-height: 270px;
    height: fit-content;
    display: flex;
    gap: 15px;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0px 5px 10px gray;
    padding: 1vw;
}

.post-card:hover {
    pointer-events: all;
    cursor: pointer;
}

.post-card-image-container {
    width: 40%;
    height: 80%;
    /* padding: 10px; */
}

.post-card-image {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    object-fit: cover;
}

#image-container.post-card-image-container {
    padding: 0;
}

#listing.listing-container {
    display: flex;
    justify-content: space-evenly;
}

.post-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    font-size: 1vw;
    height: 100%;
    width: 40%;
}

#info.post-card-info {
    padding: 0;
    padding-right: 10px;
    width: 40%;
}

.post-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
    width: 100%;
    word-wrap: break-word;
}

.post-info > p {
    height: fit-content;
    word-wrap: break-word;
}

.post-info > * {
    word-break: break-all;
}

@media screen and (max-width: 1000px) {
    .post-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* mobile */
@media (max-width: 480px) {
   html,
   body,
   #root {
       overflow-y: scroll;
       height: 100% !important;
       min-height: 100vh !important;
   }
    .explore-page {
        width: 100vw;
        height: 100% !important;
        min-height: 100vh !important;
        position: relative;
        z-index: 0;
        top: 30vh;
        left: -25px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 25px;
        margin-bottom: 100px;
    }
    .explore-left {
        width: 90vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 25px;
        color: gray;
        position: relative;
    }
    #pc {
        display: none;
    }
    .explore-right {
        display: none;
        height: 0;
        width: 0;
    }
    .post-card {
        width: 100%;
        min-height: 600px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        border: 1px solid gray;
        border-radius: 15px;
        box-shadow: 0px 5px 10px gray;
    }
    .post-card-image-container {
        width: 250px;
        height: 250px;
    }
    .post-card-image {
        height: 250px;
        width: 250px;
        border-radius: 10px;
        object-fit: cover;
    }
    .post-card-info {
        width: 250px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 5px;
        padding: 10px;
        color: gray;
    }
    .post-info {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 15px;
    }
}
