.post-head {
    width: 100% !important;
    width: 100vw;
    display: flex;
    padding-top: 10px;
    gap: 10px;
    border-bottom: 1px solid lightgray;
}

.description {
    text-align: center;
}


.right-head {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}
