#create-post {
    height: fit-content;
    min-height: 650px;
    width: 35vw;
    padding: 40px;
    overflow: scroll;
}

#create-post > * {
    font-size: 1vw;
}

/* mobile phone */
@media (max-width: 480px) {
    #create-post {
        height: 100%;
        min-height: 100%;
        width: 100%;
    }
}
