.info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 50px 50px;
    border-bottom: 1px solid lightgray;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.host {
    height: 100px;
    width: 40vw;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 50px 50px;
    border-bottom: 1px solid lightgray;
}

.host-picture > img {
    height: 100px;
    width: 100px;
}

.name {
    font-size: 25px;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 15px;
    height: 500px;
    width: 500px;
}

.calendar > * {
    border-radius: 15px;
}

.selected-dates {
    display: flex;
    gap: 15px;
}

.react-calendar__month-view__days > button > * {
    pointer-events: all;
}

.react-calendar__month-view__days__day--neighboringMonth.disabled-date {
    background-color: lightgray;
}

.react-calendar__month-view__days__day.disabled-date {
    background-color: lightgray;
}

.react-calendar__month-view__days__day.react-calendar__tile--now.disabled-date {
    background-color: yellow;
}

.react-calendar__month-view__days__day.booked-date {
    background-color: lightgray;
}

.react-calendar__month-view__days_day {
    pointer-events: all;
}

.disabled-date {
    pointer-events: none;
    color: gray;
    background-color: gray;
}

.booked-date {
    pointer-events: none;
}



.post-rules {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 50px;
    border-bottom: 1px solid lightgray;
}

.post-rules > ul {
    padding-left: 50px;
}

.selected-dates {
    display: flex;
    gap: 100px;
}

.calendar-head {
    margin-bottom: 20px;
    text-decoration: underline;
}

.spot-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 50px;
}
