#create-post {
    height: 50vh;
    min-height: 650px;
    width: 50vw;
}

/* mobile phone */
@media (max-width: 480px) {
    #create-post {
        height: 100%;
        min-height: 100%;
        width: 100%;
    }
}
