* {
    padding: 0;
    margin: 0;
}

#root {
    min-height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

