* {
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh !important;
    height: 100% !important;
}

#root {
    min-height: 100vh !important;
    width: 100vw !important;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

